<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portafolio_SAEG</title>
    <link rel="stylesheet" href="~/css/MyStyle1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portafolio_SAEG.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&display=swap" rel="stylesheet" asp-append-version="true">
</head>
<body>
    <header>
        <nav class="Menu-Navegacion">
            <div>
                <ul>
                    <li>
                        <a id="Acerca_De" href="#">Acerca de M&iacute;</a>
                    </li>
                    <li>
                        <a class="Menu-btn" href="#">Mis Proyectos</a>
                    </li>
                    <li>
                        <a class="Menu-btn" href="#">Tecnolog&iacute;as que Utilizo</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="">
            &copy; 2023 - Portafolio_SAEG - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
