/*Fuente importada de Google Fonts*/
/*Font-Family: Garabito*/
body {
    margin:0px;
    font-family:'Gabarito';
    background-color: rgba(0,0,0,0.9);
}

.Menu-Navegacion {
    padding: 7px;
    background-color: rgba(0,0,0,0.3);
    border: 0.5px;
    border-radius: 5px;
}

.Menu-Navegacion div ul {
    display: initial;
    padding-inline-start: 0;
}
.Menu-Navegacion div ul li {
        font-size: 45px;
        display: inline;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }

.Menu-btn:link {
    font-size: 45px;
    color: rgb(255,255,255);
    transition: color 0.5s, font-size 0.5s ease;
}

.Menu-btn:visited {
    color: #fff;
}

.Menu-btn:hover {
    color: rgb(109, 57, 176);
    font-size: 55px;
    /*      eje:x e:y  blur color*/
    box-shadow: 2px 2px 5px rgb(109, 57, 176);
    border: 0.5px;
    border-radius: 5px;
}

.Menu-btn:active {
    color: rgb(34,0, 108);
}

#Acerca_De:link {
    font-size: 45px;
    padding-left: 0.3rem;
    padding-right: 0.6rem;
    text-decoration: none;
    color: rgb(109, 57, 176);
    transition: color 0.5s, font-size 0.5s, box-shadow 0.5s ease;
}

#Acerca_De:visited {
    color: rgb(109, 57, 176);
}

#Acerca_De:hover {
    color: rgb(34,0, 108);
    font-size: 55px;
    box-shadow: 2px 2px 5px rgb(34,0, 108);
    border: 0.5px;
    border-radius: 5px;
    po;
}

#Acerca_De:active {
    color: rgb(255,255,255);
}